@tailwind base;
@tailwind components;
@tailwind utilities;

 body {
/*font-family: "Lato", sans-serif;
background:  #f1f5f9; */
}

/* Header section */
.text{
    font-size: x-small;
}

.color{
    background-color: #0A285F;
}

/* Program section */
.goal {
    width: 50%;
    height: auto;
}

.leaf {
    color: green;
    display: flex;
    justify-content: center;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}

 @keyframes bounce {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
    }

.bookreader {
    color: blue;
    display: flex;
    justify-content: center;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}

 @keyframes bounce {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
    }

.handholdingheart {
    color: red;
    display: flex;
    justify-content: center;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}

 @keyframes bounce {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
    }