@tailwind base;
@tailwind components;
@tailwind utilities;


/* Header section */
.text{
    font-size: x-small;
}

.color{
    background-color: #0A285F;
}

/* Program section */
.goal {
    width: 50%;
    height: auto;
}

.leaf {
    color: rgb(6, 185, 6);
    display: flex;
    justify-content: center;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}

 @keyframes bounce {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
    }

.bookreader {
    color: rgb(3, 3, 198);
    display: flex;
    justify-content: center;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}

 @keyframes bounce {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
    }

.handholdingheart {
    color: rgb(246, 24, 24);
    display: flex;
    justify-content: center;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}

 @keyframes bounce {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
    }